<div class="col-md-5">
  <form [formGroup]="form" (ngSubmit)="submitClick()">
    <div class="form-group">
      <label>Title:</label>
      <input type="text"  formControlName="title" placeholder="title" class="form-control">
    </div>
    <div class="form-group">
      <label >Content:</label>
      <input type="text" formControlName="content" placeholder="content" class="form-control">
    </div>
    <div class="form-group">
      <input type="submit" class="form-control btn btn-primary" [disabled]="!form.valid" [value]="buttonText">
    </div>
  </form>
</div>